#headline{
    font-family: 'Courier New', monospace;
    background-color:#812d58;
    padding-left:80px;
    color:white;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    margin-bottom: 30px;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 26px;
    background-color:#070707;
    color:white;



}
.ablumtypes{
    color: #B370B0;
    font-size: 35px;
    font-weight: bold;
}

#rightside{
    text-align: center;
    margin-left: 15px;
    width: 400px;
    float: right;
}

#maintext{
    letter-spacing: 3px;
    color: pink;
    border-style: dashed;
    padding: 10px 50px;
    margin-bottom: 30px;
    padding-bottom:55px;
    float:right;

}

a{
    text-decoration: none;
    color:#be6fde;
}

a:hover{
opacity: 0.75;
}



.albums{
    margin-top: 35px;
    margin-bottom: 35px;
    border-style:solid;
    border-width:2px;
    padding: 5px;
    color:#be6fde;
    font-weight: bold;
    width: 350px;
}





#albumpic{
    width: 550px;

}

.leftside{
    text-align: center;
    margin-right:15px ;
y
}
.logos{
    width: 90px;
    padding: 0px 15px;

}
#logo{
    border-style: outset;
    margin: 0px 100px;
    border-color: #3e0422;
    text-align: center;
    border-width: 10px;
}

#logoalbums{
    border-style: outset;
    margin-top:20px;
    border-color: #3e0422;
    text-align: center;
    border-width: 10px;
}

.headings{
    font-family: 'Courier New', monospace;
    text-align: center;
    color: white;
    font-size: 37px;
    margin-bottom: 15px;
    font-weight: bold;
}

#disc{
    background-color:#8d2cab;


}

#bio{
    background-color: #f56bc7;

}

.container{
    display: flex;
    justify-content: space-between;
}

#autor{
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 19px;
}

#middle{
margin: 0px 20px;

}

#headlinelink{
color:white;
}

#genre{
word-spacing:10px;
}

#released{
float:left;

background-color:  #ad3e63;
color: white;
 width:200px;
   font-weight: bold;
text-align:center;


}



#group{
margin-bottom:20px;

text-align:center;
}

#type{
font-style: italic;
}

#imptext{
   text-align: center;

}

#impressum{
  text-align: center;
  width: 300px;
  margin-left: 750px;
}

#email{
color: #b370b5;
}

#imptext{
color: pink;
border-style: dashed;
}

.info-table {
  margin-bottom: 30px;
  border-collapse: collapse;
}

.label {
  background-color: #a34061;
  padding: 10px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
    text-align: center;
    border-style: solid;
    border-color:#070707;
    border-width:10px;
}

.value {
  padding: 10px 20px;
  font-style: italic;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;

}

li{
   margin:0px;
}

#list{
float:left;
}